#agotado{
  color: Red;
  }
a{
  color: black ;
  width: 50%;
  text-align: center;
  -webkit-transition-duration: 0.2s; /* Safari */
   transition-duration: 0.2s;
}
#edit:hover{
  border-bottom: solid 2px;
  border-color:  #00d1b2;
  color:  #00d1b2;
}
#dele:hover{
  border-bottom: solid 2px;
  border-color: red;
  color: red;
  }
#content-modal-delete{
  font-size: 20px;
}
#danger-text{
  color:red;
}
.content-modal-delete{
  width: 40%;
  height: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}
.content-modal-edit{
  width: 40%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  }
  .content-modal-crea{
    width: 40%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    }
    input{
      text-align: left;
      color: black;
      }
    input:focus{
      border-left: 7px solid  #00d1b2;
      font-size: 15pt;
      height: 40px;
    }
    .fas{
      margin-right: 10%;
    }
span:hover{
  background-color: red;
  color: white;
  }
.pupConfirmer{
  background: rgba(0, 0, 0, 0.9);
 color: #fff;
 position: absolute;
 top: 0;
 left: 0;
 height: 100vh;
 width: 100%;
 transition: all .5s;

}
.content-modal-delete{
  width: 40%;
  height: 66%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: left;
}
.pupConfirmer2{
  background: rgba(0, 0, 0, 0.9);
 color: #fff;
 position: absolute;
 top: 0;
 left: 0;
 transition: all .5s;
color: red;
}
.content-modal-edit{
  width: 40%;
  min-height: 300px;
  /*height: 70%;*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  }

    .modal-card{
      margin-top: 5%;
      color: black;
    }

    input{
      text-align: left;
      color: black;
      }
    input:focus{
      border-left: 7px solid  #00d1b2;
      font-size: 15pt;
      height: 40px;
    }
    .fas{
      margin-right: 10%;
    }
.close:hover{
  background-color: red;
  color: white;
}
.fa-edit:hover {
  text-align: center;
  border-bottom: solid 2px;
  border-color:  orange;
  color: orange;
}
.is-disable2{
      border-radius: solid 2px grey;
      border-bottom: solid 2px black;
      width: 100%;
    }

    .modal-card-foot{
        font-size: 20pt;
    }
#bnt{
  width: 50%
}
#bnt_new_pro{
  margin-left: 20px;
}
.progress.is-primary::-webkit-progress-value {
  background-color: #00d1b2;
}

.progress.is-primary::-moz-progress-bar {
  background-color: #00d1b2;
}

.progress.is-primary::-ms-fill {
  background-color: #00d1b2;
}

.progress.is-primary:indeterminate {
  background-image: linear-gradient(to right, #00d1b2 30%, #dbdbdb 30%);
}
.message1{
   transition: all .5s;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    opacity: 1
  }
  to {
  opacity: 0;
  font-size: 2pt;
  width: 10%;
  }
}
